version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mbands_back_app
    env_file:
      - .env
    ports:
      - '${PORT:-3000}:${PORT:-3000}'
      - '${HTTPS_PORT:-3443}:${HTTPS_PORT:-3443}'
    volumes:
      - ./certs:/app/certs
    depends_on:
      - db
    environment:
      HTTPS_ENABLED: ${HTTPS_ENABLED:-true}
      SSL_CERT_PATH: ${SSL_CERT_PATH:-/app/certs/certificate.pem}
      SSL_KEY_PATH: ${SSL_KEY_PATH:-/app/certs/private-key.pem}

  db:
    image: postgres:15-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

volumes:
  postgres_data: